.Profile-card{
   width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 50px 0;
  color: white;
  text-align: center;
  
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.15);
  backdrop-filter: blur(12px);

  border-radius: 20px;
}



.Profile-card h1{
    font-size: 48px;
  margin-bottom: 10px;
  background: linear-gradient(90deg, #833AB4, #E1306C, #FCAF45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}